---
layout: default
title: Home
---

<div class="about-section">
  <h1>About Me</h1>
  <p class="message">
    [UPDATE 💡] I moved to Mountain View, California in December 24, concluding my chapter in Tokyo!

    Also, I joined Google Labs to make a new AI product for Google on July 25, leaving Gemini App team.
  </p>

  <p>Hi, I'm Jiho. I am a product developer and researcher, building products with machine learning and natural language processing (NLP).</p>

  <p>I like to write about machine learning, NLP, AI and product development. I also write <a href="https://www.jiho-ml.com">in Korean</a>.</p>

  <p>Currently, I am working on a new AI product that aims to innovate how people work.</p>

  <p>I've been at Google since 2020, starting from Japan, working on these products:</p>

  <ol>
    <li><a href="https://labs.google/">labs.google</a>,</li>
    <li><a href="https://gemini.google.com/app">gemini.google.com</a>,</li>
    <li><a href="https://assistant.google.com/">Assistant</a> (OK Google)</li>
  </ol>

  <p>I am interested in various areas of AI/ML/NLP product building:</p>

  <ul>
    <li>Context Engineering,</li>
    <li>User Experience (UX) Design,</li>
    <li>User Behavior Logging & Data Mining,</li>
    <li>Data Engineering Infrastructure,</li>
    <li>Multilingual NLP</li>
  </ul>

  <p>Before Google, I was doing <a href="https://scholar.google.com/citations?user=HGtOgDIAAAAJ&hl=en&oi=sra">NLP research</a> at HKUST.</p>

  <p>I worked in multiple startups in Korea, HK as an intern, founding engineer, employee, etc.</p>

  <p>Since 2023, I participate in Google for Startup Accelerator (GFSA) Korea program as a tech mentor.</p>

  <p>I grew up in Korea, but spent most of my 20s in Hong Kong, and then 5 years in Japan! I picked up different culture and languages along the way!</p>

  <p>Feel free to reach out via email (me at jiho-ml.com)!</p>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>